@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap");

body {
  font-family: Michroma, serif;
  background: linear-gradient(
    90deg,
    rgba(159, 196, 227, 0.753) 0%,
    #579ed7 100%
  );
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 80vh;
  box-shadow: 0px 2px 80px -20px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.info {
  height: 80vh;
  background: url("img/weather.png") center center no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #000;
}

.form {
  height: 80vh;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 0;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #113a65;
  width: 80%;
  padding-bottom: 4px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #000;
}

input::-moz-placeholder {
  color: #103a65;
}

.batt {
  background-color: rgb(34, 0, 255);
  color: #f2ed8a;
}

.info h2 {
  font-size: 3em;
  color: #000;
}

.info p {
  color: #000;
  font-weight: bold;
}

.error {
  color: #000;
  font-weight: bold;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.history-popup {
  position: absolute;
  top: 100%;          /* directly under input */
  left: 0;
  width: 50%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  max-height: 180px;
  overflow-y: auto;
  margin-top: 4px;
}

.history-item {
  padding: 8px 12px;
  cursor: pointer;
}

.history-item:hover {
  background-color: #f0f0f0;
}
 
@media (max-width: 768px) {
  .main {
    height: auto;
  }

  .info,
  .form {
    height: auto;
  }

  .form {
    padding: 20px;
  }

  input[type="text"] {
    width: 100%;
    margin-right: 0;
  }
}
